@import url("https://fonts.googleapis.com/css?family=Abel|Advent+Pro:400,700|Rajdhani:400,500,600,700|Slabo+27px");
/* line 5, ../sass/base/_base.scss */
img {
  max-width: 100%;
}

/* line 9, ../sass/base/_base.scss */
.bottomMargin {
  margin-bottom: 60px;
}

/* line 13, ../sass/base/_base.scss */
a.pdfButton {
  padding: 5px 30px;
  background-color: #1E90FF;
  color: #FFFFFF;
  border-radius: 6px;
  text-decoration: none;
  border: 1px solid #1E90FF;
}
/* line 21, ../sass/base/_base.scss */
a.pdfButton span {
  font-size: 16px;
}

/* line 26, ../sass/base/_base.scss */
a.pdfButton:hover {
  padding: 5px 30px;
  background-color: #FFFFFF;
  color: #1E90FF;
  border: 1px solid #1E90FF;
  border-radius: 6px;
  text-decoration: none;
  -webkit-transition: all 1s;
  transition: all 1s;
}

/* line 5, ../sass/base/_typography.scss */
html, body {
  font-family: Rajdhani, sans-serif;
  font-size: 18px;
}

/* line 10, ../sass/base/_typography.scss */
h1 {
  font-size: 60px;
  margin: 60px 0 40px 0;
  font-weight: bold;
  text-transform: uppercase;
  color: #1E90FF;
}

/* line 18, ../sass/base/_typography.scss */
h2 {
  font-size: 28px;
  padding-bottom: 10px;
  text-transform: uppercase;
  color: #1E90FF;
  border-bottom: 1px dotted #1E90FF;
}

/* line 27, ../sass/base/_typography.scss */
h3 {
  font-size: 24px;
}

/* line 5, ../sass/layout/_navigation.scss */
#smLogo {
  height: 64px;
}

/* line 9, ../sass/layout/_navigation.scss */
.navbar {
  min-height: 70px;
}

/* line 14, ../sass/layout/_navigation.scss */
header .navbar-default {
  background-color: rgba(0, 0, 0, 0.8);
  border: none;
}
/* line 19, ../sass/layout/_navigation.scss */
header .navbar-brand {
  padding: 4px 15px;
  height: 70px;
}

/* line 25, ../sass/layout/_navigation.scss */
.navbar-default .navbar-nav > li > a {
  color: #FFFFFF;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 20px;
}

/* line 32, ../sass/layout/_navigation.scss */
navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
  color: #1E90FF;
  -webkit-transition: all 1s;
  transition: all 1s;
}

/* line 37, ../sass/layout/_navigation.scss */
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
  color: #1E90FF;
  background-color: rgba(0, 0, 0, 0.9);
  -webkit-transition: all 1s;
  transition: all 1s;
}

/* line 43, ../sass/layout/_navigation.scss */
.navbar-default .navbar-nav > li > a span {
  font-size: 14px;
}

/* line 47, ../sass/layout/_navigation.scss */
.dropdown-menu {
  font-size: 18px;
  background-color: rgba(0, 0, 0, 0.9);
  background-clip: padding-box;
  border: 1px solid #000000;
  border: 1px solid #000000;
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 102, 0.175);
          box-shadow: 0 6px 12px rgba(0, 0, 102, 0.175);
}

/* line 57, ../sass/layout/_navigation.scss */
.dropdown-menu > li > a {
  color: #FFFFFF;
  letter-spacing: 1px;
}

/* line 62, ../sass/layout/_navigation.scss */
.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
  color: #1E90FF;
  background: none;
  -webkit-transition: all 1s;
  transition: all 1s;
}

/* line 68, ../sass/layout/_navigation.scss */
.navbar-toggle {
  border-radius: 0;
}

/* line 72, ../sass/layout/_navigation.scss */
.menuBar {
  color: #FFFFFF;
  font-size: 28px;
}

/* line 77, ../sass/layout/_navigation.scss */
.navbar-default .navbar-toggle {
  border-color: #1E90FF;
}

/* line 81, ../sass/layout/_navigation.scss */
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background-color: transparent;
}

/* line 5, ../sass/layout/_footer.scss */
#contactHP {
  background-color: #000000;
  background-image: url("../../images/footerBG.png");
  background-position: top left;
  background-size: auto;
  background-repeat: repeat;
  background-attachment: fixed;
  padding: 40px 0 20px;
}
/* line 9, ../sass/layout/_footer.scss */
#contactHP h2 {
  color: #1E90FF;
}
/* line 13, ../sass/layout/_footer.scss */
#contactHP p {
  color: #FFFFFF;
  line-height: 36px;
}
/* line 18, ../sass/layout/_footer.scss */
#contactHP a.phone {
  text-decoration: none;
  color: #FFFFFF;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}
/* line 24, ../sass/layout/_footer.scss */
#contactHP a.phone:hover {
  color: #1E90FF;
}
/* line 28, ../sass/layout/_footer.scss */
#contactHP a.mail {
  text-decoration: none;
  color: #FFFFFF;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}
/* line 34, ../sass/layout/_footer.scss */
#contactHP a.mail:hover {
  color: #1E90FF;
}

/* line 40, ../sass/layout/_footer.scss */
#contactHP ul {
  list-style: none;
  padding: 0;
}
/* line 45, ../sass/layout/_footer.scss */
#contactHP ul li a {
  color: #FFFFFF;
  line-height: 36px;
  text-decoration: none;
}
/* line 51, ../sass/layout/_footer.scss */
#contactHP ul li a:hover {
  color: #1E90FF;
  border-bottom: 1px dotted #1E90FF;
  -webkit-transition: all 1s;
  transition: all 1s;
  text-decoration: none;
}

/* line 59, ../sass/layout/_footer.scss */
#social {
  padding-top: 40px;
}
/* line 62, ../sass/layout/_footer.scss */
#social a {
  border: none;
  text-decoration: none;
}
/* line 67, ../sass/layout/_footer.scss */
#social span {
  margin: 25px 10px 55px 10px;
  font-size: 30px;
  color: #1E90FF;
  border: 1px solid #1E90FF;
  width: 48px;
  height: 48px;
  line-height: 46px;
  border-radius: 4px;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}
/* line 79, ../sass/layout/_footer.scss */
#social span:hover {
  color: #FFFFFF;
  background-color: #1E90FF;
  border: 1px solid #1E90FF;
}

/* line 86, ../sass/layout/_footer.scss */
footer {
  width: 100%;
  margin: 0;
  padding: 20px 0;
  background-color: #000000;
  color: #1E90FF;
  font-size: 22px;
  letter-spacing: 1px;
  border-top: 1px solid #1E90FF;
}

/* line 4, ../sass/components/_accordion.scss */
.panel {
  border: none;
  background-color: transparent;
}

/* line 9, ../sass/components/_accordion.scss */
.panel-default {
  border-color: none;
}

/* line 13, ../sass/components/_accordion.scss */
.panel-default > .panel-heading {
  color: #FFFFFF;
  background-color: rgba(0, 0, 0, 0.8);
  border-color: #000000;
}

/* line 19, ../sass/components/_accordion.scss */
.panel-default > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #000000;
  background-color: rgba(0, 0, 0, 0.4);
  font-size: 18px;
}

/* line 25, ../sass/components/_accordion.scss */
.panel-title {
  font-size: 18px;
}

/* line 29, ../sass/components/_accordion.scss */
.panel-title a {
  display: block;
  padding: 10px 15px;
  margin: -10px -15px;
}

/* line 39, ../sass/components/_accordion.scss */
#accordion .panel-title a:hover {
  text-decoration: none;
  color: #1E90FF;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

/* line 45, ../sass/components/_accordion.scss */
#accordion .panel-title a:focus {
  text-decoration: none;
}

/* line 49, ../sass/components/_accordion.scss */
.panel-group {
  margin-bottom: 60px;
}

/* line 53, ../sass/components/_accordion.scss */
.panel-group .panel {
  margin-bottom: 15px;
}

/* line 57, ../sass/components/_accordion.scss */
.panel-heading .accordion-toggle:after {
  /* symbol for "opening" panels */
  font-family: 'Glyphicons Halflings';
  /* essential for enabling glyphicon */
  content: "\e114";
  /* adjust as needed, taken from bootstrap.css */
  float: right;
  /* adjust as needed */
  color: white;
  /* adjust as needed */
}

/* line 64, ../sass/components/_accordion.scss */
.panel-heading .accordion-toggle.collapsed:after {
  /* symbol for "collapsed" panels */
  content: "\e080";
  /* adjust as needed, taken from bootstrap.css */
}

/* line 5, ../sass/components/_carousel.scss */
.carousel-control {
  opacity: 0;
}

/* line 9, ../sass/components/_carousel.scss */
.carousel-control.left, .carousel-control.right {
  background-image: none;
}

/* line 13, ../sass/components/_carousel.scss */
.carousel, .carousel-inner, .carousel-inner .item {
  height: 100%;
}

/* line 17, ../sass/components/_carousel.scss */
.carousel-caption {
  top: 30%;
  bottom: auto;
}

/* line 22, ../sass/components/_carousel.scss */
.carousel-caption h3 {
  font-weight: bold;
  color: #FFFFFF;
  font-size: 120px;
  line-height: 140px;
  text-shadow: 0px 1px 0px #999, 0px 2px 0px #888, 0px 3px 0px #777, 0px 4px 0px #666, 0px 5px 0px #555, 0px 6px 0px #444, 0px 7px 0px #333, 0px 8px 7px #001135;
}

/* line 30, ../sass/components/_carousel.scss */
.carousel-caption p {
  font-family: Abel, sans-serif;
  color: #FFFFFF;
  font-size: 40px;
  line-height: 50px;
  text-shadow: 0px 0px 10px #000000;
}

/* line 38, ../sass/components/_carousel.scss */
.carousel.fades {
  opacity: 1;
}

/* line 42, ../sass/components/_carousel.scss */
.carousel.fades .item {
  -webkit-transition: opacity ease-out .7s;
  transition: opacity ease-out .7s;
  left: 0;
  top: 0;
  opacity: 0;
  position: absolute;
  width: 100%;
  display: block;
}

/* line 58, ../sass/components/_carousel.scss */
.carousel.fades .item.active {
  opacity: 1;
}

/* line 6, ../sass/pages/_about.scss */
#aboutHP {
  background-color: #1E90FF;
  padding: 20px 0 100px;
}
/* line 10, ../sass/pages/_about.scss */
#aboutHP h1, #aboutHP p {
  color: #FFFFFF;
}
/* line 14, ../sass/pages/_about.scss */
#aboutHP p:last-child {
  padding-bottom: 20px;
}

/* line 21, ../sass/pages/_about.scss */
#aboutPG {
  background-color: #333333;
  background-image: url("../../images/aboutPGBG.jpg");
  background-position: 50% 40%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding-top: 70px;
  color: #FFFFFF;
}
/* line 26, ../sass/pages/_about.scss */
#aboutPG .overlay {
  background: rgba(30, 30, 30, 0.6);
}
/* line 30, ../sass/pages/_about.scss */
#aboutPG p:last-child {
  margin-bottom: 60px;
}
/* line 34, ../sass/pages/_about.scss */
#aboutPG h2 {
  margin-top: 40px;
}

/* line 5, ../sass/pages/_services.scss */
#service {
  background-color: #333333;
  background-image: url("../../images/serviceBG.jpeg");
  background-position: 50% 80%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
/* line 9, ../sass/pages/_services.scss */
#service .overlay {
  padding: 20px 0 100px;
}
/* line 13, ../sass/pages/_services.scss */
#service h1 {
  color: #FFFFFF;
}
/* line 23, ../sass/pages/_services.scss */
#service h2 {
  color: #FFFFFF;
  border-bottom: 1px solid #AAAAAA;
}
/* line 28, ../sass/pages/_services.scss */
#service p {
  padding: 10px 10px 20px 0;
  text-align: justify;
  color: #FFFFFF;
}
/* line 34, ../sass/pages/_services.scss */
#service a.readMore {
  display: block;
  float: right;
  padding: 6px 8px 4px;
  margin-top: 20px;
  color: #333333;
  font-size: 14px;
  border-radius: 8px;
  background-color: #FFFFFF;
  -webkit-transition: all 1s;
  transition: all 1s;
}
/* line 46, ../sass/pages/_services.scss */
#service a.readMore .glyphicon {
  font-size: 12px;
}
/* line 50, ../sass/pages/_services.scss */
#service a:hover {
  background-color: #333333;
  color: #FFFFFF;
  text-decoration: none;
}

/* line 5, ../sass/pages/_clients.scss */
#clients {
  background-color: #FFFFFF;
  background-image: url("../../images/clientsBG.png");
  background-position: top left;
  background-size: auto;
  background-repeat: repeat;
  background-attachment: fixed;
  padding: 20px 0 100px;
}
/* line 9, ../sass/pages/_clients.scss */
#clients h1 {
  color: #1E90FF;
}

/* line 14, ../sass/pages/_clients.scss */
.clientsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: auto;
}

/* line 25, ../sass/pages/_clients.scss */
.clientItem {
  width: 100px;
  height: 100px;
  margin: 20px;
}
/* line 30, ../sass/pages/_clients.scss */
.clientItem img {
  /* filter: url(filters.svg#grayscale); Firefox 3.5+ */
  filter: gray;
  /* IE5+ */
  -webkit-filter: grayscale(1);
  /* Webkit Nightlies & Chrome Canary */
  -webkit-transition: all .5s;
  transition: all .5s;
}
/* line 38, ../sass/pages/_clients.scss */
.clientItem img:hover {
  filter: none;
  -webkit-filter: grayscale(0);
  -webkit-transform: scale(1.02);
  transform: scale(1.02);
}

/* line 5, ../sass/pages/_contact.scss */
#contactPG {
  background-color: #333333;
  background-image: url("../../images/contactPGBG.jpeg");
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding-top: 70px;
}
/* line 9, ../sass/pages/_contact.scss */
#contactPG .overlay {
  background: rgba(30, 30, 30, 0.7);
}
/* line 13, ../sass/pages/_contact.scss */
#contactPG address {
  color: #FFFFFF;
  padding-bottom: 40px;
}
/* line 18, ../sass/pages/_contact.scss */
#contactPG a {
  text-decoration: none;
  color: #FFFFFF;
  -webkit-transition: all 1s;
  transition: all 1s;
}
/* line 24, ../sass/pages/_contact.scss */
#contactPG a:hover {
  color: #1E90FF;
}
/* line 29, ../sass/pages/_contact.scss */
#contactPG span {
  color: #FFFFFF;
  display: inline-block;
  margin-right: 15px;
}
/* line 35, ../sass/pages/_contact.scss */
#contactPG .form-group {
  margin-bottom: 20px;
}
/* line 39, ../sass/pages/_contact.scss */
#contactPG .form-control {
  font-family: Rajdhani, sans-serif;
  letter-spacing: 1px;
  height: 50px;
  font-size: 18px;
  color: #FFFFFF;
  background-color: rgba(0, 0, 0, 0.8);
  border: none;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
/* line 50, ../sass/pages/_contact.scss */
#contactPG .form-control:focus {
  border: 1px solid #1E90FF;
}
/* line 55, ../sass/pages/_contact.scss */
#contactPG .form-group textarea.form-control {
  height: auto;
}
/* line 59, ../sass/pages/_contact.scss */
#contactPG #btnSubmit {
  font-family: Rajdhani, sans-serif;
  background-color: rgba(0, 0, 0, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  color: #FFFFFF;
  text-transform: uppercase;
  -webkit-transition: all 1s;
  transition: all 1s;
  font-size: 24px;
}
/* line 69, ../sass/pages/_contact.scss */
#contactPG #btnSubmit:hover {
  border: 1px solid #1E90FF;
  color: #1E90FF;
}

/* line 76, ../sass/pages/_contact.scss */
#myLocation {
  margin: 25px 0;
  width: 100%;
  height: 450px;
  background-color: #FFFFFF;
}

/* line 83, ../sass/pages/_contact.scss */
#contactPG table {
  color: #FFFFFF;
}

/* line 87, ../sass/pages/_contact.scss */
.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
  border-top: none;
}

/* line 92, ../sass/pages/_contact.scss */
#contactPG table tr td {
  padding: 15px 0;
}
/* line 96, ../sass/pages/_contact.scss */
#contactPG table tr td.heading {
  color: #FFFFFF;
  text-transform: uppercase;
}
/* line 101, ../sass/pages/_contact.scss */
#contactPG table tr td.heading, #contactPG table tr td.details {
  border-bottom: 1px solid #AAAAAA;
}
/* line 105, ../sass/pages/_contact.scss */
#contactPG table tr a {
  text-decoration: none;
  color: #FFFFFF;
}
/* line 110, ../sass/pages/_contact.scss */
#contactPG table tr td.phone {
  border-bottom: 1px dotted #CCCCCC;
}

/* line 5, ../sass/pages/_team.scss */
#teamPG {
  background-color: #333333;
  background-image: url("../../images/teamPGBG.jpeg");
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding-top: 70px;
  color: #FFFFFF;
}
/* line 10, ../sass/pages/_team.scss */
#teamPG .overlay {
  background: rgba(30, 30, 30, 0.6);
}
/* line 14, ../sass/pages/_team.scss */
#teamPG .teamItem {
  padding: 10px 0 80px;
}
/* line 18, ../sass/pages/_team.scss */
#teamPG hgroup h3 {
  background-color: #1E90FF;
  display: inline-block;
  padding: 4px 15px;
  border-radius: 8px;
}
/* line 25, ../sass/pages/_team.scss */
#teamPG hgroup h4 {
  background-color: #FFFFFF;
  color: #333333;
  display: inline-block;
  padding: 5px 15px 3px;
  border-radius: 8px;
  margin-top: 0;
}
/* line 34, ../sass/pages/_team.scss */
#teamPG img {
  width: 90%;
  border-radius: 50%;
  border: 5px solid #000000;
}

/* line 5, ../sass/pages/_careers.scss */
#careerPG {
  background-color: #FFFFFF;
  background-image: url("../../images/careerPGBG.jpeg");
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding-top: 70px;
  color: #FFFFFF;
}
/* line 10, ../sass/pages/_careers.scss */
#careerPG .overlay {
  background: rgba(30, 30, 30, 0.7);
}
/* line 14, ../sass/pages/_careers.scss */
#careerPG h2 {
  margin-top: 50px;
}
/* line 18, ../sass/pages/_careers.scss */
#careerPG #accordion .panel-body .dl-horizontal dt {
  font-weight: normal;
  color: #1E90FF;
}
/* line 23, ../sass/pages/_careers.scss */
#careerPG ul {
  list-style-type: none;
}
/* line 26, ../sass/pages/_careers.scss */
#careerPG ul li {
  font-size: 16px;
  line-height: 28px;
}
/* line 30, ../sass/pages/_careers.scss */
#careerPG ul li span {
  font-size: 14px;
  color: green;
}
/* line 37, ../sass/pages/_careers.scss */
#careerPG a.email:hover {
  text-decoration: none;
  border-bottom: 1px solid #0080FF;
  color: #0080FF;
  -webkit-transition: all 1s;
  transition: all 1s;
}

/* line 5, ../sass/pages/_consulting.scss */
#consultingPG {
  background-color: #333333;
  background-image: url("../../images/consultingPGBG.jpg");
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding-top: 70px;
  color: #FFFFFF;
}
/* line 10, ../sass/pages/_consulting.scss */
#consultingPG .overlay {
  background: rgba(30, 30, 30, 0.6);
}
/* line 14, ../sass/pages/_consulting.scss */
#consultingPG h2, #consultingPG h3 {
  margin: 0;
}
/* line 19, ../sass/pages/_consulting.scss */
#consultingPG h2 {
  margin-top: 60px;
}
/* line 23, ../sass/pages/_consulting.scss */
#consultingPG h3 {
  margin-top: 6px;
  margin-bottom: 20px;
  color: #000000;
}
/* line 29, ../sass/pages/_consulting.scss */
#consultingPG ul {
  list-style-type: none;
  margin-top: 15px;
}
/* line 33, ../sass/pages/_consulting.scss */
#consultingPG ul li {
  font-size: 16px;
  line-height: 28px;
}
/* line 37, ../sass/pages/_consulting.scss */
#consultingPG ul li span {
  font-size: 14px;
  color: green;
}

/* line 5, ../sass/pages/_staffing.scss */
#staffingPG {
  background-color: #333333;
  background-image: url("../../images/staffingPGBG.jpg");
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding-top: 70px;
  color: #FFFFFF;
}
/* line 10, ../sass/pages/_staffing.scss */
#staffingPG .overlay {
  background: rgba(30, 30, 30, 0.8);
}
/* line 14, ../sass/pages/_staffing.scss */
#staffingPG h2, #staffingPG h3 {
  margin: 0;
}
/* line 18, ../sass/pages/_staffing.scss */
#staffingPG h2 {
  margin-top: 60px;
}
/* line 22, ../sass/pages/_staffing.scss */
#staffingPG h3 {
  margin-top: 6px;
  margin-bottom: 20px;
  color: #AAAAAA;
}
/* line 28, ../sass/pages/_staffing.scss */
#staffingPG ul {
  list-style-type: none;
}
/* line 31, ../sass/pages/_staffing.scss */
#staffingPG ul li {
  font-size: 16px;
  line-height: 28px;
}
/* line 35, ../sass/pages/_staffing.scss */
#staffingPG ul li span {
  font-size: 14px;
  color: green;
}

/* line 6, ../sass/pages/_training.scss */
#trainingPG {
  background-color: #333333;
  background-image: url("../../images/trainingPGBG.jpeg");
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding-top: 70px;
  color: #FFFFFF;
}
/* line 11, ../sass/pages/_training.scss */
#trainingPG .overlay {
  background: rgba(30, 30, 30, 0.9);
}
/* line 15, ../sass/pages/_training.scss */
#trainingPG h2, #trainingPG h3 {
  margin: 0;
}
/* line 19, ../sass/pages/_training.scss */
#trainingPG h2 {
  margin-top: 60px;
}
/* line 23, ../sass/pages/_training.scss */
#trainingPG h3 {
  margin-top: 6px;
  margin-bottom: 20px;
  color: #FFFFFF;
}
/* line 29, ../sass/pages/_training.scss */
#trainingPG ul {
  list-style-type: none;
}
/* line 32, ../sass/pages/_training.scss */
#trainingPG ul li {
  font-size: 16px;
  line-height: 28px;
}
/* line 36, ../sass/pages/_training.scss */
#trainingPG ul li span {
  font-size: 14px;
  color: green;
}
/* line 43, ../sass/pages/_training.scss */
#trainingPG h4 {
  margin-top: 50px;
  margin-bottom: 30px;
  text-transform: uppercase;
  background-color: #FFFFFF;
  color: #000000;
  display: inline-block;
  padding: 5px 15px 3px;
  border-radius: 8px;
}
/* line 54, ../sass/pages/_training.scss */
#trainingPG img {
  height: 72px;
  max-width: 100%;
  margin-bottom: 30px;
}

/* line 61, ../sass/pages/_training.scss */
p.courseDesc {
  padding: 0 30px;
  text-align: left;
}

/* line 5, ../sass/pages/_casestudies.scss */
#caseStudiesPG {
  background-color: #FFFFFF;
  background-image: url("../../images/casestudiesPGBG.jpeg");
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding-top: 70px;
  color: #FFFFFF;
}
/* line 10, ../sass/pages/_casestudies.scss */
#caseStudiesPG .overlay {
  background: rgba(30, 30, 30, 0.8);
}
/* line 14, ../sass/pages/_casestudies.scss */
#caseStudiesPG h2 {
  margin-top: 50px;
}
/* line 20, ../sass/pages/_casestudies.scss */
#caseStudiesPG .panel .panel-body img {
  float: left;
  margin-right: 20px;
  height: 275px;
  max-width: auto;
}
/* line 28, ../sass/pages/_casestudies.scss */
#caseStudiesPG .panel .panel-heading h4 i {
  font-size: 14px;
  color: green;
}

/* line 5, ../sass/pages/_portfolio.scss */
#portfolioPG {
  background-color: #333333;
  background-image: url("../../images/trainingPGBG.jpeg");
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding-top: 70px;
  color: #FFFFFF;
}
/* line 10, ../sass/pages/_portfolio.scss */
#portfolioPG .overlay {
  background: rgba(30, 30, 30, 0.9);
}
/* line 14, ../sass/pages/_portfolio.scss */
#portfolioPG h2, #portfolioPG h3 {
  margin: 0;
}
/* line 18, ../sass/pages/_portfolio.scss */
#portfolioPG h2 {
  margin-top: 60px;
}
/* line 22, ../sass/pages/_portfolio.scss */
#portfolioPG h3 {
  color: #1E90FF;
}
/* line 26, ../sass/pages/_portfolio.scss */
#portfolioPG h4 {
  color: #333333;
}
/* line 30, ../sass/pages/_portfolio.scss */
#portfolioPG .modal-body {
  color: #000000;
}
/* line 34, ../sass/pages/_portfolio.scss */
#portfolioPG img.portfolioImg {
  padding: 5px;
  border: 1px solid #FFFFFF;
  border-radius: 4px;
  margin: 30px 0;
}

@media (max-width: 767px) {
  /* line 8, ../sass/helpers/_mediaQueries.scss */
  html, body {
    font-size: 16px;
  }

  /* line 13, ../sass/helpers/_mediaQueries.scss */
  h1 {
    font-size: 50px;
  }

  /* line 17, ../sass/helpers/_mediaQueries.scss */
  h2 {
    font-size: 24px;
  }

  /* line 21, ../sass/helpers/_mediaQueries.scss */
  h3 {
    font-size: 20px;
  }

  /* line 26, ../sass/helpers/_mediaQueries.scss */
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #FFFFFF;
  }

  /* line 30, ../sass/helpers/_mediaQueries.scss */
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus, .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
    color: #1E90FF;
  }

  /* line 35, ../sass/helpers/_mediaQueries.scss */
  .carousel-caption h3 {
    font-size: 70px;
    line-height: 90px;
  }

  /* line 40, ../sass/helpers/_mediaQueries.scss */
  .carousel-caption p {
    font-size: 30px;
    line-height: 40px;
  }

  /* line 46, ../sass/helpers/_mediaQueries.scss */
  #service {
    background-color: #333333;
    background-image: url("../../images/serviceBG.jpeg");
    background-position: 68% 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
  }

  /* line 50, ../sass/helpers/_mediaQueries.scss */
  #aboutPG {
    background-color: #333333;
    background-image: url("../../images/aboutPGBG.jpg");
    background-position: 50% 40%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
  }

  /* line 54, ../sass/helpers/_mediaQueries.scss */
  #teamPG {
    background-color: #333333;
    background-image: url("../../images/teamPGBG.jpeg");
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
  }

  /* line 58, ../sass/helpers/_mediaQueries.scss */
  #careerPG {
    background-color: #FFFFFF;
    background-image: url("../../images/careerPGBG.jpeg");
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
  }

  /* line 62, ../sass/helpers/_mediaQueries.scss */
  #consultingPG {
    background-color: #333333;
    background-image: url("../../images/consultingPGBG.jpg");
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
  }

  /* line 66, ../sass/helpers/_mediaQueries.scss */
  #staffingPG {
    background-color: #333333;
    background-image: url("../../images/staffingPGBG.jpg");
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
  }

  /* line 70, ../sass/helpers/_mediaQueries.scss */
  #trainingPG {
    background-color: #333333;
    background-image: url("../../images/trainingPGBG.jpeg");
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
  }

  /* line 74, ../sass/helpers/_mediaQueries.scss */
  #portfolioPG {
    background-color: #333333;
    background-image: url("../../images/trainingPGBG.jpeg");
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
  }

  /* line 78, ../sass/helpers/_mediaQueries.scss */
  #caseStudiesPG {
    background-color: #FFFFFF;
    background-image: url("../../images/casestudiesPGBG.jpeg");
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
  }

  /* line 82, ../sass/helpers/_mediaQueries.scss */
  #contactPG {
    background-color: #333333;
    background-image: url("../../images/contactPGBG.jpeg");
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
  }

  /* line 87, ../sass/helpers/_mediaQueries.scss */
  #teamPG .teamItem {
    text-align: center;
  }

  /* line 93, ../sass/helpers/_mediaQueries.scss */
  #service .overlay {
    background: rgba(30, 30, 30, 0.6);
    padding: 20px 0 100px;
  }

  /* line 100, ../sass/helpers/_mediaQueries.scss */
  #trainingPG img {
    height: 56px;
  }

  /* line 107, ../sass/helpers/_mediaQueries.scss */
  #contactPG span {
    margin-right: 2px;
  }
  /* line 111, ../sass/helpers/_mediaQueries.scss */
  #contactPG table tr td.heading {
    width: 30%;
  }
  /* line 115, ../sass/helpers/_mediaQueries.scss */
  #contactPG table tr td.heading, #contactPG #contactPG table tr td.phone, #contactPG #contactPG table tr td.details {
    font-size: 12px;
  }
}
@media (min-width: 768px) {
  /* line 122, ../sass/helpers/_mediaQueries.scss */
  .borderRight {
    border-right: 1px solid #ffffff;
  }

  /* line 126, ../sass/helpers/_mediaQueries.scss */
  .borderTop {
    border-top: 1px solid #ffffff;
  }

  /* line 130, ../sass/helpers/_mediaQueries.scss */
  .navbar-nav > li > a {
    padding-top: 25px;
    padding-bottom: 25px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  /* line 139, ../sass/helpers/_mediaQueries.scss */
  header .navbar-brand {
    padding: 12px 15px;
    height: 70px;
  }

  /* line 144, ../sass/helpers/_mediaQueries.scss */
  #smLogo {
    height: 50px;
  }

  /* line 148, ../sass/helpers/_mediaQueries.scss */
  .navbar-default .navbar-nav > li > a {
    letter-spacing: 1px;
    font-size: 14px;
  }

  /* line 154, ../sass/helpers/_mediaQueries.scss */
  #teamPG .teamItem {
    text-align: center;
  }
}

/*# sourceMappingURL=main.css.map */