//Helpers
@import "helpers/_variables.scss";
@import "helpers/_mixins.scss";

//Base
@import "base/_base.scss";
@import "base/_typography.scss";

//Layout
@import "layout/_navigation.scss";
@import "layout/_footer.scss";
@import "layout/_accordion.scss";

//Components
@import "components/_carousel.scss"; 

//Pages
@import "pages/_about.scss";
@import "pages/_services.scss";
@import "pages/_clients.scss";
@import "pages/_contact.scss";
@import "pages/_team.scss";
@import "pages/_careers.scss";
@import "pages/_consulting.scss";
@import "pages/_staffing.scss";
@import "pages/_training.scss";
@import "pages/_casestudies.scss";
@import "pages/_portfolio.scss";

//Media Queries
@import "helpers/_media.scss";