//--------------------------------------------------------------
//Case Studies
//--------------------------------------------------------------


#caseStudiesPG {
    @include backgroundImage($white, "../../images/casestudiesPGBG.jpeg", 50%, 50%, cover, no-repeat, fixed);
    padding-top: 70px;
    color: $white;

    .overlay {
        background: $casestudiesPGOverlay;
    }

    h2 {
        margin-top: 50px;
    }

    .panel {
        .panel-body {
            img {
                float: left;
                margin-right: 20px;
                height: 275px;
                max-width: auto;
            }
        }

        .panel-heading h4 i {
            font-size: 14px;
            color: $green;
        }
    }
}
