//--------------------------------------------------------------
//Media Queries
//--------------------------------------------------------------

@media (max-width: 767px) {

    //Base
    html, body {
        font-size: 16px;
    }

    //Typography
    h1 {
        font-size: 50px;
    }
    
    h2 {
        font-size: 24px;
    }

    h3 {
        font-size: 20px;
    }

    h4 {
        font-size: 16px;
    }

    //Navigation Menu Bar
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #FFFFFF;
    }

    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus, .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
        color: $dodgerBlue;
    }

    //Carousel
    .carousel-caption h3 {
        font-size: 50px;
        line-height: 90px;
    }

    .carousel-caption p {
        font-size: 30px;
        line-height: 40px;
    }

    //Footer: Social
    #social span {
        margin: 15px 10px 40px 10px;
        font-size: 18px;
        width: 32px;
        height: 32px;
        line-height: 32px;
    }

    //"Background-Attachment: Fixed": Bug Fix for IOS
    #service {
        @include backgroundImage($darkGray, "../../images/serviceBG.jpeg", 68%, 100%, cover, no-repeat, scroll);
    }
    
    #aboutPG {
        @include backgroundImage($darkGray, "../../images/aboutPGBG.jpg", 50%, 40%, cover, no-repeat, scroll);
    }

    #teamPG {
        @include backgroundImage($darkGray, "../../images/teamPGBG.jpeg", 50%, 50%, cover, no-repeat, scroll);
    }

    #careerPG {
        @include backgroundImage($white, "../../images/careerPGBG.jpeg", 50%, 50%, cover, no-repeat, scroll);
    }

    #consultingPG {
        @include backgroundImage($darkGray, "../../images/consultingPGBG.jpg", 50%, 50%, cover, no-repeat, scroll);
    }

    #staffingPG {
        @include backgroundImage($darkGray, "../../images/staffingPGBG.jpg", 50%, 50%, cover, no-repeat, scroll);
    }

    #trainingPG {
        @include backgroundImage($darkGray, "../../images/trainingPGBG.jpeg", 50%, 50%, cover, no-repeat, scroll);
    }

    #portfolioPG {
        @include backgroundImage($darkGray, "../../images/trainingPGBG.jpeg", 50%, 50%, cover, no-repeat, scroll);
    }

    #caseStudiesPG {
        @include backgroundImage($white, "../../images/casestudiesPGBG.jpeg", 50%, 50%, cover, no-repeat, scroll);
    }

    #contactPG {
        @include backgroundImage($darkGray, "../../images/contactPGBG.jpeg", 50%, 50%, cover, no-repeat, scroll);
    }

    //Team
    #teamPG .teamItem {
        text-align: center;
    }

    //Service
    #service {
        .overlay {
            background: $serviceHPOverlayForSM;
            padding: 20px 0 100px;
        }
    }

    //Consulting + Staffing + Career
    #consultingPG, #staffingPG, #careerPG {
        h3 {
            font-size: 18px;
        }

        ul {
            padding-left: 5px;

            li {
                font-size: 14px;
            }
        }
    }

    //Training
    #trainingPG img {
        height: 56px;
    }

    //Contact
    #contactPG {

        span {
            margin-right: 2px;
        }

        table tr td.heading {
            width: 30%;
        }

        table tr td.heading, table tr td.phone, table tr td.details {
            font-size: 12px;
        }   
    }
}

@media (min-width: 768px) {
    .borderRight {
        border-right: 1px solid #ffffff;
    }

    .borderTop {
        border-top: 1px solid #ffffff;
    }
    
    .navbar-nav > li > a {
        padding-top: 25px;
        padding-bottom: 25px;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    
    //Navigation Menu
    header .navbar-brand {
        padding: 12px 15px;
        height: 70px;
    }

    #smLogo {
        height: 50px;
    }

    .navbar-default .navbar-nav > li > a {
        letter-spacing: 1px;
        font-size: 14px;
    }

    //Team
    #teamPG .teamItem {
        text-align: center;
    }
}
