//--------------------------------------------------------------
//Variable Section
//--------------------------------------------------------------

//Google Fonts
@import url('https://fonts.googleapis.com/css?family=Abel|Advent+Pro:400,700|Rajdhani:400,500,600,700|Slabo+27px');

//Fonts
$ffSlabo: "Slabo 27px", serif;
$ffAbel: Abel, sans-serif;
$ffRajdhani: Rajdhani, sans-serif;
$ffAdvent: "Advent Pro", sans-serif;

$defaultFontSize: 18px;

//Colors
$dodgerBlue: #1E90FF;
$royalBlue: #0080FF;
$white: #FFFFFF;
$black: #000000;
$darkGray: #333333;
$silver: #AAAAAA;
$green: green;

//Backgrounds
$navBGColor: rgba(0, 0, 0, 0.8);
$navBGColorHover: rgba(0, 0, 0, 0.9);
$formControlBGColor: rgba(0, 0, 0, 0.8);

//Overlays
$serviceHPOverlay: rgba(30, 30, 30, 0.6);
$aboutPGOverlay: rgba(30, 30, 30, 0.7);
$contactPGOverlay: rgba(30, 30, 30, 0.7);
$teamPGOverlay: rgba(30, 30, 30, 0.7);
$careerPGOverlay: rgba(30, 30, 30, 0.9);
$consultingPGOverlay: rgba(30, 30, 30, 0.7);
$staffingPGOverlay: rgba(30, 30, 30, 0.8);
$trainingPGOverlay: rgba(30, 30, 30, 0.9);
$casestudiesPGOverlay: rgba(30, 30, 30, 0.8);


















//$logoColor: #1e90ff;